.info-card {
  border-radius: 12px;
  background-image: url(var(--bg-img));
  background-size: cover;

  &:hover {
    cursor: pointer;

    transition: all 0.5 ease-in-out;

    .overlay {
      background-color: rgba(0, 0, 0, 0.55);
    }
  }

  &__content {
    position: relative;
    padding: 1rem;
    display: grid;
  }

  &__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}
