.hero {
  height: 50vh;
  background-size: cover;
  background-image: url('/hero.jpg');
  background-position: center;

  &__description {
    display: grid;
    place-content: center;
  }

  margin-bottom: 2.5rem;
}
