.hero {
  height: 50vh;
  background-size: cover;
  background-image: url('/hero.jpg');
  background-position: center;
  text-align: center;

  &__content {
    padding-top: 3rem;
  }

  margin-bottom: 2.5rem;
}
