.link {
  text-decoration: none;
  color: var(--color-font);

  &:visited {
    color: var(--color-font);
  }

  &--fake {
    all: inherit;

    &:focus-visible {
      outline: 2px solid var(--color-neutral-10);
    }
  }
}
