.layout {
  --gutter-padding: 1.5rem;
  display: grid;
  grid-template-rows: auto 1fr;
  min-height: 100vh;

  &__content-wrapper {
    background-color: var(--color-background-inverse);

    & .content {
      /*Avoid occupiying very large screens completely*/
      max-width: 1500px;
      margin: auto;
      padding: var(--gutter-padding);
    }
  }
}

.footer {
  background-color: var(--color-background-inverse);
  padding: var(--gutter-padding);
}
